

$footer-height:150px;

#preview{
  z-index:9500 !important;
  
}


.full-height {
  min-height: 100vh;
}
.full-width {
  min-width: 100vw;
}

.monospaced{
  
      font-family:$mono-font-family;
      font-weight:500;
     // font-size:2rem;
      
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Sticky Footer:
html, body {height: 100%;

}
#root {min-height: 100%;}
#root_footer {overflow:auto;
  padding-bottom: $footer-height;}  /* must be same height as the footer */

#footer {position: relative;
  margin-top: -$footer-height; /* negative value of footer height */
  height: $footer-height;
  clear:both;} 

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
  
}
// End of Sticky Footer


body{
 list-style:none;
 
}
.root{
  min-height:100%;
}

.clear{
  clear:both;
}


#siteheader{    
   
 
}



.sitcky{
  
}





.off-canvas-list{
  
}




ul.photostack{
  li{
  }
  
}

 
#mainnavi{

  height:100%;
 h1{
      position:relative;
      z-index:9000 !important;

     @media #{$medium-only} {
      font-size:rem-calc(40); 
       -webkit-transition:all 0.3s ease;
       -moz-transition:all 0.3s ease;
       -o-transition:all 0.3s ease;
       transition:all 0.3s ease
      } 
   
   @media #{$large-up} {
      font-size:rem-calc(60); 
       -webkit-transition:all 0.3s ease;
       -moz-transition:all 0.3s ease;
       -o-transition:all 0.3s ease;
       transition:all 0.3s ease;
      }
      
    
 
  }
  
  font-weight:600;
  line-height:2em;
  ul {
       list-style:none;
       text-align: center;
   
    li{
    display: inline-block;
    a{
      color:$primary-color !important;
      display:block;
      padding:0 1rem;  
           margin-bottom:0.5rem;
   
    }
    
    
   &.active>a{
  //   text-decoration:underline;
     border-bottom:solid 3px;
   //  color:lighten($primary-color,50%) !important;
    }
  
    
     }
   }
 }
 
 
 .tab-bar{
  border:solid 3px black !important; 
  h1{
    font-size:1rem !important;
    font-weight: 600;
  }
  section{
      border:none!important; 

  }
   
 }
 

.clearing-blackout .carousel { 
    //display: none;
}







p{
  padding:0;
  margin:0;
}
  
  h1{
    
      font-size:1.7rem;
  }
  
h1,h2,h3,h4,h5,h6{
  //margin:1em 0 0 0;
}

#content{
  padding-top:2rem;
  color:$content-color;
  min-height: 800px;
  
    overflow-y: auto;
 

  h1,h2,h3,h4,h5,h6{
    color:  $content-color;


  }

  
    

 }

.contentelement{
    margin:0 0 2rem 0;
    
    ul:not(.clearing-thumbs,.slick-dots,.files,.blockgrid,.photostack,.off-canvas-list,.text-center){
    list-style:none;
    padding:0 0 0 .5rem;
    padding:0;
    margin:0;
    
    li{
       font-family:$mono-font-family;
       font-size:0.8rem;
         font-weight:400;
          margin-left:1rem;
    } 
    
    
  
    li:before{ 
      content:"–";
      position:relative;
      left:-0.5rem;
      margin-left:-0.5rem;
    }
    
    
    /*
    li{
      margin-left:1rem;
    }  */
  }
  
  

 
  
  a{
    color:$link-color;
      font-family:$mono-font-family;
    font-weight:400;
    font-size:0.8rem;
    font-style:italic;
  }
  a:hover{
      color: darken( $link-color, 50%);
  }
  

} //end of contentelement

  .text-center{
          padding:0 0 0 0;
          margin:0;
   list-style:none;
    }



.text{
  
}

 

p{
 // letter-spacing:0.3px;
  
}


ul.files{
  padding-left:2rem !important;
  padding-top:1rem !important;
  list-style-type: none !important;
  li.files{
    
    
  }
  
  li.file a{
    font-family:$mono-font-family;
    font-weight:400;
    font-size:0.8rem;
    font-style:italic;
   // border:solid thin red;
        display:block;
        padding-left: 2rem;
        background:url(../../img/file.png) no-repeat ;
        background-size: 1rem;
        height:2.5rem;
  
  }
}



.kapitel_button { 
  @include button;
background-color:transparent !important;
margin:0 !important;
color:$link-color;
padding:0rem !important;
   }


.kapitel_button:hover, 
.kapitel_button:focus {
  color: darken( $link-color, 20%);
}




/* SLICK SLIDER */
.slick-slide{
  img{
    margin:0.5rem;
    
  }
  
  
}



.slick-prev,
.slick-next{
  
@media #{$small-only} { 
  display:none !important;
  }
  
  width: 44px !important;
  height: 38px !important;
  

  background-image:url("../../img/fancybox_sprite.png") !important;
  size:

  
}

.slick-prev{
  left:-44px !important;
  background-position: 0 -38px !important;
}

.slick-next{
   right:-44px !important;
  background-position: 0 -76px !important;
}


.slick-prev::before, .slick-next::before{
  
    color:#200 !important;
    content:'' !important;
}







.js-photostack { position: relative; }

.js-photostack > * {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  width:100%;
}

.photostack_container{
  ul{

  }
 img{
width:100% !important;
 } 
}



//FANCYBOX
.fancybox-skin {
  position: relative;
  background: none;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position:relative;
//    z-index:80;
}


.fancybox-next{
  
          z-index:7000 !important;

}
.fancybox-close{
        z-index:9000 !important;
}



#footer{
  background-color:#333;
  padding:75px 0 ;
  color:#fff;
  background-image:url("../../img/menschenkette_klein.png");
  background-repeat:repeat-x;
  background-size: auto 60px;
  background-position:center top;

}
.footernavi{
  @include inline-list;  
}

